@font-face{
    font-family: 'use';
    src: url('../../../fonts/candice/Candice\ Personal\ Use.ttf');
    font-weight: normal;
    font-style: normal;
}

.historiaEmpresa{
    margin-top: 80px;
    padding-top: 200px;
    background-color: aqua;
    width: 100%;
    height: 95vh;
    
    article{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        h1{
            font-family: 'use', sans-serif;
            padding: 20px;
            font-size: 32px;
            font-weight: 500;
            /* color: #fff; */

        }
    }

    .pagHistoria{
        text-align: center;
        margin-top: 50px;

        p{
            padding: 15px;
            font-size: 18px;
            /* color: #fff; */
        }
    }
}