.descri-icons {
    margin-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;

    #title-icons {
        height: 200px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        figure{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 100%;
                background-color: #044168;
                border-radius: 50px;
                transition: 0.3s;
            }

            img:hover{
                background-color: #037cdd;
            }
        }

        article{
            height: 50%;
            width: 100;
            display: flex;
            text-align: center;
        }
    }

}

@media (max-width: 1196px) {
    .descri-icons {
        gap: 80px;
    }

}

@media (max-width: 986px) {
    .descri-icons {
        gap: 40px;
       
    }

}

@media (max-width: 854px) {
    .descri-icons {
            gap: 20px;
          
    }

}
@media (max-width: 757px) {
    .descri-icons {
            gap: 20px;
            flex-direction: column; 
    }

}
