.produtos {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #faf7f2;
    /* padding: 90px; */
    gap: 100px;

    article {
        margin-top: 30px;

        h1 {
            font-size: 30px;
            font-weight: 600;
            color: #044168;
            text-align: center;
            text-transform: uppercase;
        }

        ::after {
            content: '';
            width: 100px;
            background: #09415f7d;
            height: 6px;
            display: block;
            margin: 7px auto 0;
            border-radius: 8px;
        }
    }

    .button-verMais {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 16px 36px;
        border: 4px solid transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: black;
        box-shadow: 0 0 0 2px #09415f7d;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        margin-bottom: 3.4rem;

        svg {
            position: absolute;
            width: 24px;
            fill: #000;
            z-index: 9;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .arr-1 {
            right: 16px;
        }

        .arr-2 {
            left: -25%;
        }

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-color: #044168;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .text {
            position: relative;
            z-index: 1;
            transform: translateX(-12px);
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:hover {
            box-shadow: 0 0 0 12px transparent;
            color: #fff;
            border-radius: 12px;

            .arr-1 {
                right: -25%;
            }

            .arr-2 {
                left: 16px;
            }

            .text {
                transform: translateX(12px);
            }

            svg {
                fill: #fff;
            }

            .circle {
                width: 220px;
                height: 220px;
                opacity: 1;
            }
        }

        &:active {
            scale: 0.95;
            box-shadow: 0 0 0 4px #09415f7d;
        }
    }



    .slider-container {
        width: 80% !important;
        height: 300px !important;

        .slick-list {
            width: 100%;
            overflow: hidden !important;

            .carrossel-produto {
                width: 87% !important;
                margin-left: 35px;
                height: 300px !important;
                display: flex !important;
                justify-content: space-evenly !important;
                align-items: center !important;
                flex-direction: column;
                border-top: 0px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, .05);
                position: relative;
                transition: 0.3s ease-in-out;

                span {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    padding: 15px;
                    background-color: #ffff;
                    color: #044168;

                    margin: 0;
                    display: flex;
                    justify-content: center;

                    #style-image {

                        padding: 35px;
                    }


                    img {
                        height: 100%;
                        align-self: flex-end;
                        /* filter: drop-shadow(1px 5px 10px #000); */
                    }
                }

                article {
                    width: 100%;
                    height: 15%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #800e13;
                    color: #fff;

                    h1 {
                        font-size: 22px;
                    }

                }

                img {
                    width: 85%;
                }

                #ajuste-foto {
                    width: 200px;
                }
            }

            .carrossel-produto #ajuste-foto {
                width: 60%;
            }


        }

        .slick-list:hover .carrossel-produto {
            filter: blur(1px);
            opacity: 0.5;
        }

        .slick-list .carrossel-produto:hover {
            cursor: pointer;
            border: 0;
            transform: translateY(-10px);
            filter: none;
            opacity: 1;
            z-index: 1;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .05);
        }

    }


    @media (max-width: 1009px) {
            article {
                h1 {
                    font-size: 28px;
                }
            }

            .button-verMais {
                padding: 10px 22px;
                font-size: 12px;

                svg {
                    width: 16px;
                }

                .arr-1 {
                    right: 10px;
                }

                &:hover {
                    .arr-2 {
                        left: 10px;
                    }
                }
            }
        }
    

    @media (max-width: 758px) {
        .button-verMais {
            padding: 8px 20px;
            margin-bottom: 3rem;
        }

    }

    @media (max-width: 734px) {
        article {
            h1 {
                font-size: 26px !important; 
            }
        }
    }

    @media (max-width: 495px) {
        .carrossel-produto {
            margin-left: 5% !important;

        }
    }























    .slick-slider {
        ul {
            visibility: hidden;

        }
    }

    .slick-prev:before,
    .slick-next:before {
        color: #086ba2;
        opacity: 1;
        font-size: 25px;
        font-weight: 300;
        /* margin-left: -50px !important; */
    }

}