.produtos {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #faf7f2;
  /* padding: 90px; */
  gap: 100px;
}
.produtos article {
  margin-top: 30px;
}
.produtos article h1 {
  font-size: 30px;
  font-weight: 600;
  color: #044168;
  text-align: center;
  text-transform: uppercase;
}
.produtos article ::after {
  content: "";
  width: 100px;
  background: rgba(9, 65, 95, 0.4901960784);
  height: 6px;
  display: block;
  margin: 7px auto 0;
  border-radius: 8px;
}
.produtos .button-view {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 2px solid;
  border-color: #044168;
  font-size: 14px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: black;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-bottom: 2rem;
  height: 50px; /* Altura fixa para prevenir crescimento */
}
.produtos .button-view svg {
  position: absolute;
  width: 20px;
  fill: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.produtos .button-view .arr-1 {
  right: 20px;
}
.produtos .button-view .arr-2 {
  left: -25%;
}
.produtos .button-view .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #044168;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.produtos .button-view .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.produtos .button-view:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
}
.produtos .button-view:hover .arr-1 {
  right: -25%;
}
.produtos .button-view:hover .arr-2 {
  left: 10px;
}
.produtos .button-view:hover .text {
  transform: translateX(12px) scale(1.2); /* Aumenta o texto com scale */
}
.produtos .button-view:hover svg {
  fill: #fff;
}
.produtos .button-view:hover .circle {
  width: 260px;
  height: 220px;
  opacity: 1;
}
.produtos .button-view:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgba(9, 65, 95, 0.4901960784);
}
.produtos .slider-container {
  width: 80% !important;
  height: 300px !important;
}
.produtos .slider-container .slick-list {
  width: 100%;
  overflow: hidden !important;
}
.produtos .slider-container .slick-list .carrossel-produto {
  width: 87% !important;
  margin-left: 35px;
  height: 300px !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  flex-direction: column;
  border-top: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s ease-in-out;
}
.produtos .slider-container .slick-list .carrossel-produto span {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px;
  background-color: white;
  color: #044168;
  margin: 0;
  display: flex;
  justify-content: center;
}
.produtos .slider-container .slick-list .carrossel-produto span #style-image {
  padding: 35px;
}
.produtos .slider-container .slick-list .carrossel-produto span img {
  height: 100%;
  align-self: flex-end;
  /* filter: drop-shadow(1px 5px 10px #000); */
}
.produtos .slider-container .slick-list .carrossel-produto article {
  width: 100%;
  height: 15%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800e13;
  color: #fff;
}
.produtos .slider-container .slick-list .carrossel-produto article h1 {
  font-size: 22px;
}
.produtos .slider-container .slick-list .carrossel-produto img {
  width: 85%;
}
.produtos .slider-container .slick-list .carrossel-produto #ajuste-foto {
  width: 200px;
}
.produtos .slider-container .slick-list .carrossel-produto #ajuste-foto {
  width: 60%;
}
.produtos .slider-container .slick-list:hover .carrossel-produto {
  filter: blur(1px);
  opacity: 0.5;
}
.produtos .slider-container .slick-list .carrossel-produto:hover {
  cursor: pointer;
  border: 0;
  transform: translateY(-10px);
  filter: none;
  opacity: 1;
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1009px) {
  .produtos article h1 {
    font-size: 28px;
  }
  .produtos .button-view {
    padding: 10px 22px;
    font-size: 10px;
    height: 40px;
  }
  .produtos .button-view svg {
    width: 16px;
  }
  .produtos .button-view .arr-1 {
    right: 10px;
  }
  .produtos .button-view:hover .arr-2 {
    left: 10px;
  }
  .produtos .button-view:hover .text {
    transform: translateX(12px) scale(1.1);
    font-size: 13px;
  }
  .produtos .button-view .circle {
    width: 200px;
    height: 180px;
  }
}
@media (max-width: 758px) {
  .produtos .button-view {
    padding: 8px 20px;
    margin-bottom: 3rem;
    height: 35px;
  }
  .produtos .button-view svg {
    width: 14px;
  }
  .produtos .button-view:hover .text {
    font-size: 13px;
  }
  .produtos .button-view .circle {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 734px) {
  .produtos article h1 {
    font-size: 26px !important;
  }
}
@media (max-width: 495px) {
  .produtos .carrossel-produto {
    margin-left: 5% !important;
  }
}
.produtos .slick-slider ul {
  visibility: hidden;
}
.produtos .slick-prev:before,
.produtos .slick-next:before {
  color: #086ba2;
  opacity: 1;
  font-size: 25px;
  font-weight: 300;
  /* margin-left: -50px !important; */
}/*# sourceMappingURL=produtos.css.map */