.pageProdutos {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #faf7f2;

    article {
        margin-top: 230px;
        width: 30%;
        height: auto;
        text-align: center;
        color: #044168;

        h1 {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }

        ::after {
            content: '';
            width: 100px;
            height: 6px;
            display: block;
            margin: auto;
            border-radius: 8px;
            background: rgba(9, 65, 95, 0.4901960784);
        }

    }
}