.contato {
    height: auto;
    margin-top: 110px;

    .banner-contato {
        height: 500px;
        width: 100%;
        /* background-color: black; */
        display: flex;

        .icon {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                height: 150px;
            }

            h1 {
                font-weight: 700;
                font-size: 32px;
                color: #044168;
            }

            p {
                font-weight: 600;
            }
        }

        .image-background {
            width: 60%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .formulario {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;

        h1 {
            font-weight: 700;
            font-size: 30px;
            color: #044168;
        }

        form {
            margin-top: 30px;
            /* background-color: yellow;  */
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                border: solid 2px #0000003c;
                border-radius: 10px;

            }

            label::after {
                content: ' *';
                color: red;
                /* Muda a cor do asterisco para vermelho */
                margin-left: 0px;
                /* Adiciona um pequeno espaçamento à esquerda */
                font-size: 16px;
                /* Ajusta o tamanho do asterisco, se necessário */
            }

            .assunto {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                select {
                    border: solid 2px #0000003c;
                    border-radius: 10px;
                    cursor: pointer;

                    .optionSelect {
                        background-color: #044168;
                        color: #fff;
                    }
                }
            }

            .name {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

            }

            .boxEmailAndNumberPhone {
                width: 100%;
                height: auto;
                display: flex;
                gap: 50px;

                .email {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    /* input{
                        width: 90%;
                    } */
                }

                .numberPhone {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                }

            }




            .boxCityAndState {
                width: 100%;
                height: auto;
                display: flex;
                gap: 50px;

                .city {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    /* input{
                        width: 90%;
                    } */
                }

                .state {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                }

            }

            .boxMessage {
                height: auto;
                display: flex;
                flex-direction: column;

                textarea {
                    border: solid 2px #0000003c;
                    border-radius: 10px;
                    overflow: hidden;
                    width: 100%;

                }

                textarea:focus,
                input:focus,
                select:focus {
                    box-shadow: 0 0 0 0;

                }


            }
        }

        button:disabled {
            border: solid 2px #04426832;
            color: #0442686d;
            cursor: not-allowed;

        }

        button {
            width: 100px;
            height: 40px;
            border: solid 2px #044168;
            border-radius: 40px;
            color: #044168;
            font-weight: 600;
        }

    }


}

@media (min-width: 330px) and (max-width: 584px) {
    .contato {
        margin-top: 80px;

        .banner-contato {
            flex-direction: column-reverse;
            height: 400px !important;
            margin-top: 10px !important;

            .image-background {
                width: 100% !important;
                height: 50% !important;
            }

            .icon {
                width: 100% !important;
                height: 50% !important;

                img {
                    height: 100px;
                }

                h1 {
                    font-size: larger;
                    margin-bottom: 10px;
                }

                p {
                    font-size: small;
                }


            }
        }

    }

}
@media (min-width: 585px) and (max-width: 800px) {
    .contato {
        margin-top: 80px;

        .banner-contato {
            flex-direction: column-reverse;
            height: 600px !important;
            margin-top: 10px !important;

            .image-background {
                width: 100% !important;
                height: 50% !important;
            }

            .icon {
                width: 100% !important;
                height: 50% !important;

                img {
                    height: 140px;
                }

                h1 {
                    font-size: 25px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: medium;
                }


            }
        }

    }

}
@media (min-width: 801px) and (max-width: 1088px) {
    .contato {
        margin-top: 80px;

        .banner-contato{
            height: 400px;
        }


    }

}



    @media (min-width: 330px) and (max-width: 1000px) {
        .contato {


            .formulario {
                margin-top: 50px;

                h1 {
                    font-size: larger;

                }

                form {
                    width: 90%;

                    .boxEmailAndNumberPhone {
                        flex-direction: column;
                        gap: 10px;

                        .email {
                            width: 100%;
                        }

                        .numberPhone {
                            width: 100%;

                        }

                    }

                    .boxCityAndState {
                        flex-direction: column;
                        gap: 10px;

                        .city {
                            width: 100%;
                        }

                        .state {
                            width: 100%;

                        }
                    }
                }
            }

        }


    }
