@charset "UTF-8";
.contato {
  height: auto;
  margin-top: 80px;
}
.contato .banner-contato {
  height: 500px;
  width: 100%;
  /* background-color: black; */
  display: flex;
}
.contato .banner-contato .icon {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contato .banner-contato .icon img {
  height: 150px;
}
.contato .banner-contato .icon h1 {
  font-weight: 700;
  font-size: 32px;
  color: #044168;
}
.contato .banner-contato .icon p {
  font-weight: 600;
}
.contato .banner-contato .image-background {
  width: 60%;
  height: 100%;
}
.contato .banner-contato .image-background img {
  width: 100%;
  height: 100%;
}
.contato .formulario {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.contato .formulario h1 {
  font-weight: 700;
  font-size: 30px;
  color: #044168;
}
.contato .formulario form {
  margin-top: 30px;
  /* background-color: yellow;  */
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contato .formulario form input {
  border: solid 2px rgba(0, 0, 0, 0.2352941176);
  border-radius: 10px;
}
.contato .formulario form label::after {
  content: " *";
  color: red;
  /* Muda a cor do asterisco para vermelho */
  margin-left: 0px;
  /* Adiciona um pequeno espaçamento à esquerda */
  font-size: 16px;
  /* Ajusta o tamanho do asterisco, se necessário */
}
.contato .formulario form .assunto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contato .formulario form .assunto select {
  border: solid 2px rgba(0, 0, 0, 0.2352941176);
  border-radius: 10px;
  cursor: pointer;
}
.contato .formulario form .assunto select .optionSelect {
  background-color: #044168;
  color: #fff;
}
.contato .formulario form .name {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contato .formulario form .boxEmailAndNumberPhone {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}
.contato .formulario form .boxEmailAndNumberPhone .email {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* input{
      width: 90%;
  } */
}
.contato .formulario form .boxEmailAndNumberPhone .numberPhone {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contato .formulario form .boxCityAndState {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}
.contato .formulario form .boxCityAndState .city {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* input{
      width: 90%;
  } */
}
.contato .formulario form .boxCityAndState .state {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contato .formulario form .boxMessage {
  height: auto;
  display: flex;
  flex-direction: column;
}
.contato .formulario form .boxMessage textarea {
  border: solid 2px rgba(0, 0, 0, 0.2352941176);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.contato .formulario form .boxMessage textarea:focus,
.contato .formulario form .boxMessage input:focus,
.contato .formulario form .boxMessage select:focus {
  box-shadow: 0 0 0 0;
}
.contato .formulario button:disabled {
  border: solid 2px rgba(4, 66, 104, 0.1960784314);
  color: rgba(4, 66, 104, 0.4274509804);
  cursor: not-allowed;
}
.contato .formulario button {
  width: 100px;
  height: 40px;
  border: solid 2px #044168;
  border-radius: 40px;
  color: #044168;
  font-weight: 600;
}

@media (min-width: 330px) and (max-width: 584px) {
  .contato {
    margin-top: 60px;
  }
  .contato .banner-contato {
    flex-direction: column-reverse;
    height: 400px !important;
    margin-top: 10px !important;
  }
  .contato .banner-contato .image-background {
    width: 100% !important;
    height: 50% !important;
  }
  .contato .banner-contato .icon {
    width: 100% !important;
    height: 50% !important;
  }
  .contato .banner-contato .icon img {
    height: 100px;
  }
  .contato .banner-contato .icon h1 {
    font-size: larger;
    margin-bottom: 10px;
  }
  .contato .banner-contato .icon p {
    font-size: small;
  }
}
@media (min-width: 585px) and (max-width: 800px) {
  .contato {
    margin-top: 60px;
  }
  .contato .banner-contato {
    flex-direction: column-reverse;
    height: 600px !important;
    margin-top: 10px !important;
  }
  .contato .banner-contato .image-background {
    width: 100% !important;
    height: 50% !important;
  }
  .contato .banner-contato .icon {
    width: 100% !important;
    height: 50% !important;
  }
  .contato .banner-contato .icon img {
    height: 140px;
  }
  .contato .banner-contato .icon h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .contato .banner-contato .icon p {
    font-size: medium;
  }
}
@media (min-width: 801px) and (max-width: 1088px) {
  .contato {
    margin-top: 60px;
  }
  .contato .banner-contato {
    height: 400px;
  }
}/*# sourceMappingURL=contato.css.map */