.estrutura {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #0000003f;
    flex-direction: column;
    overflow: hidden;

    article {
        padding: 40px;
        justify-content: center;
        align-items: center;
        display: flex;

        h1 {
            font-size: 48px;
            font-weight: 600;
            font-style: italic;
            color: #044168;
        }
    }

    .fiorino {
        width: 100%;
        transform: translatex(-800px);
        opacity: 0;
        transition: 1s ease-in-out;
        display: flex;
        justify-content: space-evenly;

        img {
            margin-left: 290px;
        }

        article {
            width: 50%;
            background-color: #09415fe0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;

            h2 {
                padding: 40px;
                font-size: 30px;

            }

            h3 {
                padding: 5px;
                margin: 5px;
                font-size: 20px;
                /* border: solid 1px #fff; */
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background: linear-gradient(45deg, #044168, #037cdd);
                color: white;

            }

        }

    }

    .caminhao {
        width: 100%;
        transform: translatex(800px);
        opacity: 0;
        transition: 1s ease-in-out;
        display: flex;


        article {
            width: 50%;
            background-color: #09415fe0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;

            h2 {
                padding: 40px;
                font-size: 30px;

            }

            h3 {
                padding: 5px;
                margin: 5px;
                font-size: 20px;
                /* border: solid 1px #fff; */
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background: linear-gradient(45deg, #044168, #037cdd);
                color: white;

            }

        }

    }

    button:hover {
        background: linear-gradient(45deg, #037cdd, #044168);
    }

    button {
        background: linear-gradient(45deg, #044168, #037cdd);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 60px;


    }
}

@media (max-width: 735px){ 
    h1{
        font-size: 35px !important;
    }

  

}
@media (max-width: 421px){ 
    h1{
        font-size: 25px !important;
    }
    h2{
        font-size: 20px !important;

    }
    h3{
        font-size: 15px !important;

    }

  

}

@media (max-width: 1504px){
    .caminhao {
        article{
            width: 70% !important;
        }
        img {
            padding: 30px;
            height: 400px;
            margin-left: -30px;
        }
    }

    .fiorino {
        article{
            width: 70% !important;
        }
        img {
            padding: 30px;
            height: 400px;
            margin-left: -10px !important;
        }
   
    }

}
@media (max-width: 1159px){
    .caminhao {
        article{
            width: 80% !important;
        }
        img {
            padding: 30px;
            height: 300px;
            margin-left: -30px;
        }
    }

    .fiorino {
        article{
            width: 80% !important;
        }
        img {
            padding: 30px;
            height: 300px;
            margin-left: -10px !important;
        }
   
    }

}
@media (max-width: 928px){
    .caminhao {
        article{
            width: 90% !important;
        }
        img {
            padding: 30px;
            height: 260px;
            margin-left: -30px;
        }
    }

    .fiorino {
        article{
            width: 90% !important;
        }
        img {
            padding: 30px;
            height: 260px;
            margin-left: -10px !important;
        }
   
    }

}
@media (max-width: 928px){
    h2{
        font-size: 25px !important;
    }
}
@media (max-width: 831px){
    h2{
        font-size: 20px !important;
    }
}
@media (max-width: 790px){
    .caminhao {
        display: block !important;  
        
        article{
            width: 100% !important;
        }
    }
    .fiorino {
        display: block !important;
        article{
            width: 100% !important;
        }
    }
    
    h2{
        font-size: 20px !important;
        width: 100%;
    }
}
@media (max-width: 788px){

    .caminhao {
        background-image: url('../../imagens/estrutura/caminhao.png');
        background-repeat: no-repeat;
        background-position: 100px;
        margin-top: 5px;
        

        article{
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            display: none !important;
        }
        
    }
    .fiorino {
        background-image: url('../../imagens/estrutura/fiorino.png');
        background-repeat: no-repeat;
        background-position: -400px;

        article{
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img{
            display: none !important;
        }
  
    }
    
}

@media (max-width: 468px){

    .caminhao {
        background-image: url('../../imagens/estrutura/caminhao.png');
        background-repeat: no-repeat;
        background-position: 40px;
   
        

        article{
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            display: none !important;
        }
        
    }
    .fiorino {
        background-image: url('../../imagens/estrutura/fiorino.png');
        background-repeat: no-repeat;
        background-position: -400px;

        article{
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img{
            display: none !important;
        }
  
    }
    
}