.container-produtosAves {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  display: flex;
}
.container-produtosAves .text {
  margin: 0;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-produtosAves .text img {
  height: 100px;
}
.container-produtosAves .text h1 {
  color: #242322;
  margin: 0.5rem 0 0.75rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}
.container-produtosAves .text h1::after {
  display: none;
}
.container-produtosAves .box-produto {
  height: 100%;
  width: 70%;
}
.container-produtosAves .box-produto .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 80%;
}
.container-produtosAves .box-produto .container .card-produto {
  height: 300px;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.container-produtosAves .box-produto .container .card-produto figure {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container-produtosAves .box-produto .container .card-produto figure img {
  width: 90%;
}
.container-produtosAves .box-produto .container .card-produto article {
  width: 100%;
  height: 20%;
  background-color: #faf7f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-produtosAves .box-produto .container .card-produto article p {
  font-weight: 700;
}
.container-produtosAves .box-produto .container .card-produto article p::after {
  display: none;
}
.container-produtosAves .box-produto .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-produtosAves .box-produto .button button:hover {
  background-color: rgba(4, 66, 104, 0.9137254902);
  border-radius: 0px 40px 0px 30px;
}
.container-produtosAves .box-produto .button button {
  height: 50px;
  width: 120px;
  background-color: #044168;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: 1s;
}
.container-produtosAves .box-produto .button button p {
  font-weight: 700;
  font-size: 1.2rem;
}

@media (max-width: 1023px) {
  .container-produtosAves {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 30px;
  }
  .container-produtosAves .text {
    margin-bottom: 30px;
  }
  .container-produtosAves .box-produto {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-produtosAves .box-produto .container {
    height: auto;
    width: 100%;
    flex-wrap: wrap;
  }
  .container-produtosAves .box-produto .container .card-produto {
    width: 350px;
  }
  .container-produtosAves .box-produto .button {
    margin-top: 50px;
  }
}
@media (max-width: 545px) {
  .container-produtosAves .box-produto .card-produto {
    width: 80% !important;
  }
  .container-produtosAves .box-produto .card-produto article {
    width: 100% !important;
  }
  .container-produtosAves .box-produto .card-produto img {
    width: 60% !important;
    height: 58% !important;
  }
}/*# sourceMappingURL=compoAves.css.map */