.missEmpresa{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, #022144, #113A69, #19487E);
    display: flex;
    justify-content: space-evenly;

    .missao{
        height: 100%;
        width: 30%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 20px;
        }

    }

    .visao{
        height: 100%;
        width: 30%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 20px;
        }

    }

    .valor{
        height: 100%;
        width: 30%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 20px;
        }

    }
}

@media (max-width: 1000px){
    .missEmpresa{
        margin-top: 50px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .missao{
            border-bottom: solid 1px #dcdcdc;
            width: 100%;
            padding: 15px;
        }
        .visao{
            border-bottom: solid 1px #dcdcdc;
            width: 100%;
            padding: 15px;
        }
        .valor{
            width: 100%;
            padding: 15px;
        }
    }
}