.container-produtosFrios {
    width: 100%;
    height: 500px;
    display: flex;


    .text {
        margin: 0;
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 100px;
        }

        h1 {
            color: #242322;
            margin: .5rem 0 .75rem;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 900;
        }

        h1::after {
            display: none;

        }

    }

    .box-produto {
        height: 100%;
        width: 70%;
       


        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            height: 80%;

            .card-produto {
                height: 300px;
                width: 300px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
                background-color: #fff;

                figure {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        width: 90%;
                    }
                }

                article {
                    width: 100%;
                    height: 20%;
                    background-color: #faf7f2;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-weight: 700;
                    }

                    p::after {
                        display: none;

                    }
                }
            }

        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;

            button:hover {
                background-color: #044268e9;
                border-radius: 0px 40px 0px 30px;

            }

            button {
                height: 50px;
                width: 120px;
                background-color: #044168;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, .25);
                color: #fff;
                transition: 1s;


                p {
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }

    }
}

@media (max-width: 1023px){
    .container-produtosFrios{
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 30px;

        .text{
            margin-bottom: 30px;

        }

        .box-produto{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            

            .container{
                height: auto;
                width: 100% ;
                flex-wrap: wrap;

                 .card-produto {
                    width: 350px;
                    
                } 
            }

            .button{
                margin-top: 50px;
            }

        }
    }
    
}

@media (max-width: 545px){
    .card-produto{
        article{
            width: 100% !important;
        }
    }

}