.subMenu{
    margin-top: 110px;
    width: 100%;
    height: auto;
    background-color: #044168;
    color: #fff;
    position: fixed;
    z-index: 100;
    


    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
     



        li:hover{
            background-color: #ffffff3b;
            cursor: pointer;
        }
        li{
            font-size: large;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
            height: 100% !important;
            padding: 20px 0 !important;
            transition: 0.3s;
            
            a{
                font-size: 15px;
            }

            img{
                height: 45px !important;
            }

            .subMenuBovinoImg{
                height: 35px !important;
            }
            .subMenuCongeladosImg{
                height: 13px !important;
            }
          
        }

    }
}



@media (max-width: 1024px){
    .subMenu{
        display: none;
    }

}

@media (min-width: 1025Px){
    .subMenu{
        margin-top: 100px;

        li{
            padding: 5px !important;
            p{
                font-size: small;
            }

            img{
                height: 20px !important;
            }
        }
        
    }

}