.atendimento {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    article {
        margin-bottom: 20px;
        background-color: #044168;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 5px;

        h1 {
            font-size: 20px;
        }
    }

    .atendimento-icons {
        height: 200px;
        width: 80%;

        .icon-box1 {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            border-bottom: solid 1px #09415f7d;


            section::before {
                content: "";
                position: absolute;
                right: 0;
                top: 10%;
                height: 80%;
                width: 2px;
                background-color: #09415f7d;
            }

            section {
                height: 100%;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                position: relative;

                svg {
                    height: 30px;
                    fill: #044168;
                }

            }
        }

        .icon-box2 {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;

            section::before {
                content: "";
                position: absolute;
                right: 0;
                top: 10%;
                height: 80%;
                width: 2px;
                background-color: #09415f7d;
            }

            section {
                height: 100%;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                position: relative;

                svg {
                    height: 30px;
                    fill: #044168;
                }

            }
        }
    }
}

@media (max-width: 844px){
    .atendimento-icons{
        width: 100% !important;

        .icon-box1{
            justify-content: space-between !important;
        }
        .icon-box2{
            justify-content: space-between !important;
        }
    }

}