footer{
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #022144, #113A69, #19487E);
  display: flex;
  justify-content: space-around;
  padding: 20px 0;


  
  section{
    height: 300px;
    width: 24%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    position: relative;

    .top{
      margin-top: 5px;
    }

    h1{
      font-weight: 800;
    }
    p{
      font-weight: 300;
    }
    a{
      padding-top: 10px;
    
    }
    a:hover{
      color: #ffffffa9;

    }

    img{
      height: 150px;
    }
  }

  #border::before {
    content: '';
    position: absolute;
    right: 0; 
    height: 50%; 
    width: 2px; 
    background-color: #fff; 
    top: 25%;
}
}