.App{
    background-color: #fff;
    
}
.App .arrow-top{
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;     
  right: 10px;         
  top: 80%; 
  z-index: 1000; 
  cursor: pointer;
  animation: pular 3s ease-in-out infinite; 
  
}
 .App .arrow-top .button-icon-top{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  
}
.App .arrow-top .button-icon-top svg{
  height: 50%;
}


.App .button-whats{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;     
    right: 10px;         
    top: 90%; 
    z-index: 1000; 
    cursor: pointer;
    animation: pular 2s ease-in-out infinite;
   
    
}
.App .button-whats a{
    height: 100%;
    width: 100%;
    
  }
  .App .button-whats a svg{
    height: 65%;
    fill: #a4c639;

  }
  
  
  @keyframes pular {
    0%, 100% {
        transform: translateY(-30%); 
    }
    50% {
        transform: translateY(-40%); 
    }
  }