.estrutura {
    /* background-color: #faf7f2; */

    .conteudo {
        height: auto;
        width: 100%;
        display: flex;

    }

    .veiculos {
        width: 50%;
        height: 700px;
        position: relative;

        img {
            height: 350px;
            position: absolute;
            left: 40%;

        }

        .fiorino {
            height: 400px;
            transform: translateX(-500px);
            opacity: 0;
        }

        .ducato {
            margin-top: 130px;
            left: 35%;
            transform: translateX(-700px);
            opacity: 0;
        }

        .caminhao {
            margin-top: 300px;
            left: 10%;
            transform: translateX(-900px);
            opacity: 0;
        }
    }

    .texto {
        width: 50%;
        height: 700px;
        background-color: rgba(9, 65, 95, 0.8784313725);
        border-radius: 200px 0px 0px 0px;
        overflow: hidden;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;

        article {
            text-align: center;
            padding: 10px;


            h1 {

                font-size: 30px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
            }

            h1::after {
                content: '';
                width: 100px;
                background: #ffffff79;
                height: 6px;
                display: block;
                margin: 7px auto 0;
                border-radius: 8px;
            }
        }

    }

    .conteudoTexto {
        width: 100%;
        height: 70%;
        margin-top: 40px;

        .boxConteudo {
            height: 100px;
            margin-top: 10px;
            display: flex;
            padding: 0;
            position: relative;

            figure {
                height: 100%;
                width: auto;

                .iconQualidade {
                    width: 97%;
                }

                img {
                    height: 100%;
                    width: 100%;
                }

            }

            article {
                width: auto;
                position: absolute;
                width: auto;
                left: 200px;
                top: 10px;
                text-align: left;
                color: #fff;

                h2 {
                    font-size: large;
                    font-weight: 600;

                }
            }
        }

    }

    .button {
        width: 50%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;


        .button-view {
            position: relative;
            display: flex;
            align-items: center;
            padding: 16px 36px;
            border: 2px solid;
            border-color: #044168;
            font-size: 14px;
            background-color: inherit;
            border-radius: 100px;
            font-weight: 600;
            color: #fff;
            box-shadow: 0 0 0 2px white;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            height: 50px;

            svg {
                position: absolute;
                width: 20px;
                fill: #fff;
                z-index: 9;
                transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .arr-1 {
                right: 20px;
            }

            .arr-2 {
                left: -25%;
            }

            .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                background-color: #044168;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .text {
                position: relative;
                z-index: 1;
                transform: translateX(-12px);
                transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:hover {
                box-shadow: 3px 3px 10px black;
                color: #fff;

                .arr-1 {
                    right: -25%;
                }

                .arr-2 {
                    left: 10px;
                }

                .text {
                    transform: translateX(12px) scale(1.2);
                    /* Aumenta o texto com scale */
                }

                svg {
                    fill: #fff;
                }

                .circle {
                    width: 300px;
                    height: 220px;
                    opacity: 1;
                }
            }

            &:active {
                scale: 0.95;
                box-shadow: 0 0 0 4px #09415f7d;
            }
        }
    }

}